#header-nav ul {
  padding:0;
  display:flex;
  justify-content: space-around;
  list-style:none;
  animation:0.4s goingDown ease;
}

@keyframes goingDown {
  from {
    margin-top:-100px;
  }
  to {
    margin-top:0;
  }
}
main {
  height:500px;
  position: relative;
}
main > h1 {
  position: absolute;
  animation:4s rotate ease infinite;
}
@keyframes rotate {
  0% {
    top:0;
    left:0;
  }
  25% {
    top:0;
    left:200px;
  }
  50% {
    top:200px;
    left:200px;
  }
  75% {
    top:200px;
    left:0px;
  }
  100% {
    top:0;
    left:0px;
  }
}
.plain {
  font-size:24px;
  text-decoration: none;
  color:black;
  transition:0.2s all ease;
}
.plain:hover {
  font-size:36px;
  color:red;
}