.post button {
  background-color:lightpink;
  outline: none;
  display:flex;
  align-items: center;
  padding:16px 20px;
}
.post button i {
  margin-right:10px;
}
.post button span {
  font-size:20px;
}