main {
	width: 1224px;
	overflow: hidden;
	margin: 0 auto;
}
#header-top {
	box-sizing: border-box;
	background-color: white;
	height:40px;
}

#header-top ul {
	list-style:none;
	display: flex;
	flex-direction:row;
    justify-content:center;
	font-size:13px;
	padding-top:10px;
	padding-left:900px;
	/* 위치 패딩으로 주는게 맞나요?  */
} 

#header-top li a {
    display: flex;
	flex-direction:row;
	justify-content:center;
	text-decoration: none;
	color:grey;
	padding-left:10px;
	padding-right:10px;
	border-right:1px solid grey;
}
#header-top li:last-child > a {
	border-right:none;
}
#header-menubar {
	display: flex;
	flex-direction:row;
	justify-content:center;
	box-sizing: border-box;
	background-color:white;
	height:60px;
	padding-right:600px;
}

#header-menubar  ul {
	list-style: none;
	display: flex;
	flex-direction:row;
}

.menutitle {
	padding-right:25px;
}
.menu2 {
	font-size:15px;
	font-weight: bold;
	padding-left: 30px;
	text-decoration: none;
	color:black;
}

#banner {
	box-sizing: border-box;
	background-color:lightblue;
	height:200px;
	/* 배너 끝에 어떻게 공백없게 하나요? */
}

#noticelist {
	box-sizing: border-box;
	display: block;
	background-color:white;
	padding-right:25px;
}

.notice > a {
	display:inline-block;
	/* inline-flex 사용가능? */
	text-decoration: none;
	color: grey;
	font-size: 13px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:500px;
	padding-right:0px;
	margin:0px; */
	/* 마진,패딩말고 완벽한 우측정렬없나요? */
}

.date {
	display:inline-block;
	/* inline-flex 사용가능? */
	text-decoration: none;
	color: grey;
	font-size: 13px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:100px;
	padding-right:0px;
	margin:0px;
	/* 마진,패딩말고 완벽한 우측정렬없나요? */
}
.list {
	font-size:15px;
	color:black;
	list-style: none;

}

.list > li {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 15px;
	border-bottom:1px solid lightgray;
}

.list li:first-child {
	border-bottom:0px;
}

.noticepost {
	text-decoration: none;
	color:black;
}

.list li:last-child {
	padding-bottom:20px;
	border-bottom:0px;
}
/* .date {
	float:right;
	text-decoration: none;
	color: gray;
	font-size: 13px;
} */

/* #tip {
	float:left;
	box-sizing: border-box;
	display: block;
	background-color:white;
	height:200px;
	width: 720px;
} */

#tip {
	box-sizing: border-box;
	display: block;
	background-color:white;
	padding-right:25px;
}
.bodybanner {
	font-size:15px;
	color:black;
	list-style: none;
}

.bodybanner > li {
	display:flex;
	justify-content:space-between;
	padding: 15px;
	/*리스트에는 기본적으로 마진과 패딩이 세팅이 되어있는지?*/
}
.specify {
	display:inline-block;
	/* inline-flex 사용가능? */
	text-decoration: none;
	color: grey;
	font-size: 13px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:100px;
	padding-right:0px;
	margin:0px;
	/* 마진,패딩말고 완벽한 우측정렬없나요? */
	float:right;
}
.bodybanner li:last-child {
	display: block;
	padding-top:15px;
	padding-bottom:15px;
	font-weight: bold;
}
.bannernotice {
	display: block;
	margin-right: 500px;
}
.banner {
	text-decoration: none;
	color:black;
}
.row {
	margin:0 auto;
	width:1184px;
	display:flex;
	justify-content:space-between;
}
.row > div:first-child  {
	width:720px;
	border-right:1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;
}
.row > div:last-child {
	flex:1;
	border-bottom:1px solid #d0d0d0;
}
.specify {
	float:right;
	text-decoration: none;
	color: gray;
	font-size: 13px;
}

#event {
	float:left;
	box-sizing: border-box;
	display: block;
	background-color:white;
	height:200px;
	width: 720px;
}

.event > li {
	display: inline-block;
	margin-top: 15px;
	padding: 10px;
}

.eventlist {
	text-decoration: none;
	color:black;
}
 
#login {
	/* float:right; */
	box-sizing: border-box;
	display: block;
	background-color:white;
	height:200px;
	width: 360px;
}

#login {
	display:block;
	padding:10px 30px;
}
#login > p {
	display: flex;
	flex-direction:row;
	background-color: lightgreen;
	margin:;
	padding:20px 0px;
    justify-content:center;
}

#login a:nth-child(3) {
	margin-left:200px;
	/* 좌우 정렬 이렇게밖에 안되나? */
}
.user_login {
	font-size:13px;
    display:inline-block;
	flex-direction:row;
	justify-content:space-between;
	text-decoration: none;
	padding-right:5px;
	color:gray;
	border-right:1px solid lightgray;
	/* 왜 flex로 하면 가로로 정렬이 안될까요? */
}
.user_login:last-child {
	border-right:0px;
}
/* 
#manage {
	float:right;
	box-sizing: border-box;
	display: block;
	background-color:white;
	height:100px;
	width: 360px;
} */
#manage {
	box-sizing: border-box;
	display: block;
	background-color:white;
	padding-right:25px;
}
.managelist {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	list-style: none;
	margin:0;
	padding:0;
}

.managelist li {
	width:50%;
	text-align: center;
}

.managelist li a {
	display:block;
	text-align: center;
}

.manage {
	display:flex;
	flex-direction:row;
	margin:0;
	padding:0;
	text-decoration: none;
	color:black;
	/*flex가 왜 안될까요? ㅠㅠ.*/
}

 
 
#coupon {
	float:right;
	box-sizing: border-box;
	display: block;
	background-color:white;
	height:100px;
	width: 360px;

}

#first {
	float:right;
	box-sizing: border-box;
	display: block;
	background-color:white;
	height:200px;
	width: 360px;

}

.firstnotice {
	display: block;
	margin-right: 100px;
}

.firstlist > li {
	display: inline-block;
	margin-top: 5px;
	padding: 5px;
}

.subpost {
	text-decoration: none;
	color: gray;
	font-size: 13px;
}

.firstpost {
	text-decoration: none;
	color:black;
}

#footer {
    /* position:absolute;
    bottom:0; */
    width:100%;
}

.user_login:hover {
  color:blue;
  transition:0.5s all ease;
}

#header-menubar > ul {
  animation:0.5s goingDown ease;
}

#btn-menu {
	display:none;
}

#notice {
	padding:15px;
	margin-top:0;
	height:30;
}

@keyframes goingDown {
	from {
		margin-top:-100px;
	}
	to {
		margin-top:0;
	}
}

@media(max-width:768px) {
	body {
		display:block;
	}
	main {
		font-size:14px;
		width:100%;
		display:block;
	}

	.row {
		margin:0 auto;
		width:100%;
		display:block;
		justify-content:space-between;
	}

	#notice {
		padding:15px;
		margin-top:0;
		height:30;
	}

	.row > div:first-child  {
		margin-top:50px;
		border-right:0px;
	}

	/* .row > div:first-child {
		margin-top:100px;
	} */
	/* .row > div:first-child  {
		display:block;
		width:100%;
		border-right:1px solid #d0d0d0;
		border-bottom:1px solid #d0d0d0;
	}
	.row > div:last-child {
		display:block;
		width:100%;
		border-bottom:1px solid #d0d0d0;
	} */
	.bodybanner > li {
		display:block;
		justify-content:space-between;
		padding: 15px;
	}
	#header-top {
		display:none;
	}
	#first {
		box-sizing: border-box;
		display: block;
		background-color:white;
		width:100%;
	}
	#login {
		width:100%;
	}
	header {
		min-height: 10px;
		position: fixed;
		width:100%;
		top:0;left:0;right:0;
		display:block;
		width:100%;
		background-color: tan;
	}
	
	#btn-menu {
		min-height:20px;
		display:block;
		margin:10px 10px;
	}

	#header-menubar {
		display:block;
		background-color: antiquewhite;
		height:0px;
		width:100%;
		padding-right:0;
		overflow:hidden;
		transition:0.5s ease height;
	  }

	#header-menubar ul {
		flex-direction: column;
	}
	#banner {
		display:none;
	}
	.menutitle {
		display:none;
	}

	.menu2:hover {
		color:yellowgreen;
		transition:0.2s ease color;
	}

	
	
}
