<!doctype html>
<head>
    <meta charset="utf-8">
    <title>VB Portfolio</title>
    {% load static %}
    <link href="{% static "css/bundle.css" %}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet" />
    <link href="{% static "css/bass.css" %}" rel="stylesheet" />
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav id="menu">
            <ul>
                {% if user.is_authenticated %}
                    {{user}}
                    <li><a href="{% url "logout" %}?next={{ request.path }}">로그아웃</a></li>
                {% else %}
                    <li><a href="{% url "signup" %}">회원가입</a></li>
                    <li><a href="{% url "login" %}">로그인</a></li>
                {% endif %}
            </ul>
        </nav>
        <div id="banner">
        <img src="{% static "css/orchestras.jpg" %}" align="center">
        </div>
        <p>Welcome to VB Portfolio</p>
    </header>
    {% block content %}
    {% endblock %}

</body>
{% block script %}
{% endblock %}
</html>