@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css'); 
body, table, div, p {font-family:'Nanum Gothic';}

body {
    width:1440px;
    overflow:hidden;
    margin:0 auto;
}

header {
    width:1440px;
    overflow:hidden;
    margin:0 auto;
    padding:0;
    display:block;
}

header p {
    margin-top:0;
    margin-bottom:0;
    padding:15px 15px;
    text-align: center;
    font-size:30px;
    background-color:lightslategray;
}

#menu {
    /* width:1440px; */
    box-sizing: border-box;
    background-color: white;
    height:40px;
    align-items: center;
    padding-top:0;
    padding-bottom:0;
    margin-top:0;
    margin-bottom:0;
}

#menu ul {
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    font-size:16px;
}

#menu ul li a {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-right:10px;
    text-decoration:none;
    color:gray;
}

#banner {
    margin-top:0px;
    margin-bottom:0px;
    align-items: center;
}

img {
    display:block;
    margin-right:auto;
    margin-left:auto;
}