{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="{% static "css/post-list.css" %}" rel="stylesheet" />
<div id="root">
</div>
<script>
  // 프로미스 만드는 법
  // https://kangax.github.io/compat-table/es6/
  var add = function(a, b) {
    return new Promise((resolve, reject) => {
      var result = a + b;
      if(isNaN(result))
        reject('NaN');
      else
        resolve(result);
    })
  }
  var add_no_promise = function(a, b) {
    var result = a + b;
    if(isNaN(result))
      return ('NaN');
    else
      return (result);
  }
  var add2 = function(a, b) {
    if(isNaN(a + b))
      Promise.reject('NaN');
    else
      Promise.resolve(a + b);
  }

  add(5, 7)
  .then(function(number) {
    // console.log(number);
  })
  .catch(function(err) {
      // console.log(err)
    }
  )
  fetch('/post/list')
  .then(function(res) {
    // fetch의 첫번째 resolve는 네트워킹 결과를 반환한다.
    return res.json();
  })
  .then(function(datas) {
    datas = JSON.parse(datas);
    console.log(datas);
    var elemText = '';
    // var elem = document.createElement('h1');
    // elem.innerHTML = data.title;
    // document.body.appendChild(elem);
    for(var i = 0 ; i < datas.length ; i ++) {
      var data = datas[i];
      elemText = elemText + '<div class="root-frame">'+'<h1>'+data.title + '</h1><p>' + data.body + '</p>'+'</div>'; 
    }
    document.getElementById('root').innerHTML = elemText;
  })
</script>
{% endblock %}