{% extends 'base.html' %}
{% block content %}
<div class="post">
  <h2 id="title">
    {% for char in post.title %}
    <span>{{char}}</span>
    {% endfor %}
  </h2>
  <img src="/{{ post.image }}" />
  <!-- <button id="btn-like">
    <i class="material-icons" id="icon-like">
      favorite_border
    </i>
    <span id="like"></span>
  </button>
  <button id="btn-score">
    평가하기
  </button> -->
  <p>{{ post.body }} </p>
</div>
<div class="modal hide" id="modal-score">
  <div class="modal-container">
    <div>
      별점 평가를 해주세요.
    </div>
    <div class="star-container">
        <i class="material-icons">
          star_border
        </i>
        <i class="material-icons">
          star_border
        </i>
        <i class="material-icons">
          star_border
        </i>
        <i class="material-icons">
          star_border
        </i>
        <i class="material-icons">
          star_border
        </i>
    </div>
    <button class="btn-save">저장</button>
    <button class="btn-close">닫기</button>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
  // 애니메이션
  // for(var i = 0 ; i < '{{post.title}}'.length ; i++) {
  //   window.setTimeout(function() {
  //      $('#title').children('span:nth-child('+i+')').css({color:'red'});
  //   }, 200);
  // }
  var i = 0;
  var timer = window.setInterval(function() {
    $('#title').children('span:nth-child('+i+')').addClass('animate');
    i++;
    console.log(i);
    if (i === '{{post.title}}'.length + 1) {
      window.clearInterval(timer);
      $('.post img').addClass('animate');
    }
  }, 200)
</script>
<script>
  var idx = 0;
  $('#btn-score').on('click', function() {
    $('#modal-score').removeClass('hide');
  });
  $('.modal .btn-close').on('click', function() {
    $(this).closest('.modal').addClass('hide');
  });
  $('.star-container .material-icons').on('mouseover', function() {
    idx = $(this).index('.star-container .material-icons');
    for(var i = 0 ; i <= idx ; i++ ) {
      $('.star-container .material-icons:nth-child('+ (i + 1) +')').html('star');
    }
    for(var i = idx + 1 ; i < 5 ; i++) {
      $('.star-container .material-icons:nth-child('+ (i + 1) +')').html('star_border');
    }
  })
  $('.btn-save').on('click', function() {
    $.ajax({
      url:'/post/score/{{post.pk}}',
      method:'post',
      dataType: 'application/json',
      contentType:'application/json',
      data:{
        'score': idx,
      }
    }).success(function(result) {
      console.log(result)
    }).error(function(error) {

    })
  })
  // $('.star-container .material-icons').on('mouseout', function() {
  //   $(this).html('star_border');
  // })
  // fetch('/post/like/{{post.pk}}')
  // .then(function(res) {
  //   return res.json();
  // })
  // .then(function(datas) {
  //   datas = JSON.parse(datas);
  //   datas.forEach(data => {
  //     if(String(data.user) === "{{user.pk}}") {
  //       document.getElementById('icon-like').innerHTML = 'favorite';
  //       document.getElementById('btn-like').addEventListener('click', function() {
  //         // 좋아요 취소
  //         fetch('/post/like/{{post.pk}}', {
  //           method: 'DELETE',
  //           contentType:'application/json',
  //           dataType: 'application/json',
  //         }).then(res => {
  //           return res.json();
  //         }).then(res => {
  //           console.log(res);
  //         })
  //         .catch(err => {

  //         });
  //       })
  //     } else {
  //       document.getElementById('btn-like').addEventListener('click', function() {
  //         // 좋아요
  //         fetch('/post/like/{{post.pk}}', {
  //           method: 'POST',
  //           contentType:'application/json',
  //           dataType: 'application/json',
  //         }).then(res => {
  //           return res.json();
  //         }).then(res => {
  //           console.log(res);
  //         })
  //       })
  //     }
  //   })
  //   document.getElementById('like').innerHTML = datas.length+'명';
  // })
</script>
{% endblock %}