{% extends 'base.html' %}
{% block content %}
<div class="post">
  <h2>{{ post.title }}</h2>
  <button id="btn-like">
    <i class="material-icons" id="icon-like">
      favorite_border
    </i>
    <span id="like"></span>
  </button>
  <button id="btn-score">
    평가하기
  </button>
  <p>{{ post.body }} </p>
</div>
<div class="modal hide" id="modal-score">
  <div class="modal-container">
    <div>
      별점 평가를 해주세요.
    </div>
    <div class="star-container">
        <i class="material-icons">
          star_border
        </i>
        <i class="material-icons">
          star_border
        </i>
        <i class="material-icons">
          star_border
        </i>
        <i class="material-icons">
          star_border
        </i>
        <i class="material-icons">
          star_border
        </i>
    </div>
    <button class="btn-save">저장</button>
    <button class="btn-close">닫기</button>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFTOKEN", csrftoken);
        xhr.setRequestHeader("csrftoken", csrftoken);
        xhr.setRequestHeader('Accept', 'application/json');
        xhr.setRequestHeader('Content-Type', 'application/json');
      }
    }
  });
  var idx = 0;
  $('#btn-score').on('click', function() {
    $('#modal-score').removeClass('hide');
  });
  $('.modal .btn-close').on('click', function() {
    $(this).closest('.modal').addClass('hide');
  });
  $('.star-container .material-icons').on('mouseover', function() {
    idx = $(this).index('.star-container .material-icons');
    for(var i = 0 ; i <= idx ; i++ ) {
      $('.star-container .material-icons:nth-child('+ (i + 1) +')').html('star');
    }
    for(var i = idx + 1 ; i < 5 ; i++) {
      $('.star-container .material-icons:nth-child('+ (i + 1) +')').html('star_border');
    }
  })
  $('.btn-save').on('click', function() {
    $.ajax({
      url:'/post/score/{{post.pk}}',
      method:'post',
      dataType: 'application/json',
      contentType:'application/json',
      data:{
        'score': idx,
      }
    }).success(function(result) {
      console.log(result)
    }).error(function(error) {

    })
  })
  // $('.star-container .material-icons').on('mouseout', function() {
  //   $(this).html('star_border');
  // })
  fetch('/post/like/{{post.pk}}')
  .then(function(res) {
    return res.json();
  })
  .then(function(datas) {
    datas = JSON.parse(datas);
    datas.forEach(data => {
      if(String(data.user) === "{{user.pk}}") {
        document.getElementById('icon-like').innerHTML = 'favorite';
        document.getElementById('btn-like').addEventListener('click', function() {
          // 좋아요 취소
          fetch('/post/like/{{post.pk}}', {
            method: 'DELETE',
            contentType:'application/json',
            dataType: 'application/json',
          }).then(res => {
            return res.json();
          }).then(res => {
            console.log(res);
          })
          .catch(err => {

          });
        })
      } else {
        document.getElementById('btn-like').addEventListener('click', function() {
          // 좋아요
          fetch('/post/like/{{post.pk}}', {
            method: 'POST',
            contentType:'application/json',
            dataType: 'application/json',
          }).then(res => {
            return res.json();
          }).then(res => {
            console.log(res);
          })
        })
      }
    })
    document.getElementById('like').innerHTML = datas.length+'명';
  })
</script>
{% endblock %}